body{
  line-height: 1.5;
  max-width: 2000px;
  margin: 0;
  // background-color: #ebe2da;
  background-color: #EEEEEA;
  font-family: 'Raleway';
  .home-page{
    background-color:#EEEEEA;
  }
  a{
    text-decoration: none;
    color: black;
  }
}