.home-work-section{
  img{
   object-fit: cover;
   max-width: 17rem;
   position: relative;
   margin: 0 auto;
    // change this for the mobile
   filter: grayscale(70%)  opacity(100%) saturate(120%) sepia(0%);
   transition: all 150ms;
   &:hover{
    filter: none;
    
   }
  }



  
  .home-page-single-work{
    .learn-more-button{
      display: flex;
      svg{
        width: 2rem;
      }
    }
  }
}