.landing-section{
  height: 100vh;
  margin: 0 auto;
  text-align: center;

  h1{
    font-family: 'Gowun Batang';
    font-weight: 200;
    font-size: 3rem;
    color: black;
    margin: 0;
  }
  h2{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 2rem;
  }
  p{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1.5rem;
    font-style: italic;
  }
}