@use 'work-page-more-detail';
.single-work-main{
  margin: 0 1rem;
  .under-construction{
    font-size: 2rem;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .single-page-landing{
    margin: 5rem 0 10rem;
    max-height: 100vh;
    h1{
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
    }
    .featured-image{
      display: block;
      margin: 0 auto 1rem;
      max-width: 50rem;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .single-page-buttons{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
     a{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
      width: 8rem;
      padding: 0.3rem 0.6rem;
      border: 0.1rem solid #ff8400;
      border-radius: 1.5rem;
      p{
        font-weight: 500;
        margin: 0;
      }
       svg{
         width: 1.5rem;
         height: 1.5rem;
       }
     }
    }
    
  }
  .work-gallery{
    margin: 0 auto 3rem;
    .slick-slider{
      img,video{
        object-fit: cover;
        width: 100%;
        max-width: 50rem;
        display: block;
        margin: 0 auto;
        border-radius: 0.5rem;
      }
      .slick-slide{
        transform: scale(0.8);
      }
      .slick-center{
        transform: scale(1);
      }
      .slick-arrow{
        display: none !important;
      }

      .slick-dots li button:before{
        font-size: 10px;
      }
      .slick-dots li.slick-active button:before{
        color: #ff8400;
        opacity: 0.8;
      }
    }
  }
}

@media(min-width:56em){
  .single-work-main{
    .single-page-landing{
      margin: 3rem 0 5rem;
    }
    .work-gallery{
      max-width: 55rem;  
      .slick-slider{
        img,video{
          max-width: 50rem;
        }
        .slick-arrow{
          display: block !important;
        }
        .slick-next:before{
          color: #ff8400;
          font-size: 23px;
        }
        .slick-prev:before{
          color: #ff8400;
          font-size: 23px;
        }
      }
    }
  }
}